@import '~assets/css/book/book.scss';

.book-content-wraper {
  flex: auto;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: $main-color;

  .content-main {
    height: calc(100% - 60px);
    padding: 10px;
  }
}