@import '~assets/css/book/book.scss';

.book-wraper {
  display: flex;
  min-height: 100%;
  width: 100%;
  padding: 25px;
  background-color: $background;

  .book-wraper-row {
    height: 100%;
  }
}
