@import '~assets/css/book/book.scss';

.book-sidebar {
  padding-left: 10px;

  .book-index-edit {
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid $main-gray;

    .chapter-title {
      @include chapter-title;
    }
  }

  .book-index-list {
    font-size: 14px;
    width: 350px;
    display: flex;
    flex-direction: column;
    color: $main-font;
    padding: 0 20px;
    word-break: break-all;

    .chapter-title {
      @include chapter-title;
    }

    .chapter-item {
      display: flex;
      padding: 0 2px;
      align-items: center;
      width: 200px;
      color: #075db3;
      cursor: pointer;

      &.active {
        background-color: $main-color;
      }
    }
  }
}
