@import '~assets/css/book/book.scss';

.book-content-wraper {
  flex: auto;
  width: 100%;
  min-height: 100%;
  padding-bottom: 10px;
  background-color: $main-color;
  
  .icon {
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
    }
  }
}
