@import '~assets/css/book/book.scss';

.page-header-wraper {
  display: flex;
  height: 80px;
  font-size: 16px;
  padding: 50px 20px 0;
  background-image: url('~assets/img/bg_top.gif');
  background-repeat: repeat-x;
  background-size: auto;

  .book-name {
    color: $main-red;
    margin-right: 20px;
  }

  .book-author {
    color: $main-font;
  }
}
