@import '~assets/css/book/book.scss';
@import '~assets/css/book/markdown.scss';

.page-main-wraper {
  margin: 0 20px;
  padding-top: 25px;
  height: calc(100% - 160px);
  border-top: 1px solid $main-gray;

  .sc-jTzLTM.gniqAh {
    max-width: 100%;

    @include markdown;
  }
}
