@import '../base/base.scss';
@import '../base/common.scss';

// main-var-color
$background: #e3d1bd;

$main-color: #f8f0e7;

$main-font: #333;

$main-red: #db4e44;

$main-gray: #9e9e9e;

$light-gray: #eee;

@mixin chapter-title {
  font-weight: bold;
  font-size: 25px;
  font-family: 黑体;
  text-align: left;
  color: #aa7a53;
}
