@import '../base/base.scss';
@import '../base/common.scss';

// main-var-color
$background: #e3d1bd;

$main-color: #FEFEF2;

$main-font: #333;

$main-red: #db4e44;

$main-gray: #9e9e9e;

$light-gray: #eee;
