@import '../base/base.scss';
@import '../base/common.scss';

// main-var-color
$background: #e3d1bd;

$main-color: #fefef2;

$main-font: #333;

$main-red: #db4e44;

$main-gray: #f1d9d9;

$light-gray: #eee;

$title-color: #ae976e;
